APP_ENV=dev
SECRET_KEY=
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:12345678@localhost:3306/cinema_db
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=cinema_db
MYSQL_PORT=3309
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MAX_BOOKING_SEAT_EACH_SHOWTIME=8
BOOKING_EXPIRATION_TIME=600
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
APP_PORT=5000