APP_ENV=staging
SECRET_KEY=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=cinema
MYSQL_USER=cinema_user
MYSQL_PASSWORD=
MYSQL_PORT=3309
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MAX_BOOKING_SEAT_EACH_SHOWTIME=8
BOOKING_EXPIRATION_TIME=600
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
IMAGE_NAME=docker.io/nitt25/flask-app
IMAGE_TAG=staging
APP_PORT=5000