ENVIRONMENT=dev
SECRET_KEY=YOUR_SECRET_KEY

SQLALCHEMY_DATABASE_URI=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# số ghế được đặt tối đa mỗi suất chiếu
MAX_BOOKING_SEAT_EACH_SHOWTIME=8
# thời gian để thanh toán vé theo giây (ví dụ 10 phút là 600)
BOOKING_EXPIRATION_TIME=600

CELERY_BROKER_URL=redis://:YOUR_PASSWORD@localhost:6379/0
CELERY_RESULT_BACKEND=redis://:YOUR_PASSWORD@localhost:6379/0